.model-browser {
    &-table {
        th svg {
            color: #bcbcbc;
            width: 0.5em !important;
            padding-right: 0.25em;
        }
        th svg.fa-up-long,
        th svg.fa-down-long {
            color: #333;
        }
        p {
            margin: 0;
        }
        td {
            max-width: 3em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        @include media-3 {
            td {
                max-width: unset;
                white-space: unset;
            }
        }
    }

    .mb-filter {
        flex-direction: column;
        align-items: center;
        gap: $spacer;

        .form-floating {
            margin-top: 0;
        }

        button {
            border-radius: $border-radius 0 0 $border-radius;
        }
        button + button {
            border-radius: 0 $border-radius $border-radius 0;
        }

        .dropdown-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @include media-2 {
            flex-direction: row;
            align-items: stretch;
            gap: 0;

            input {
                border-radius: $border-radius 0 0 $border-radius;
            }
            button {
                border-radius: 0;
            }
            button + button {
                border-radius: 0 $border-radius $border-radius 0;
            }

        }
    }
}
